<h2 class="saved_tracks_header">Welcome to your discovered tracks</h2>

<div class="row">
  <div id = "saved-tracks" class="col-md-6 offset-md-1">

  </div>

  <div class="col-md-5">
  <%= form_with :url => save_path, :local => true do %>
    <%= select_tag("playlist", options_for_select(@option_for_select, selected: @option_for_select.first)) %>
    <%= hidden_field_tag 'track_uris' %>

    <%= submit_tag "Add to playlist", :class => "add_tracks_button" %>
  <% end %>

  </div>

</div>
