.track {
  margin-bottom: 10px;
}

.playlist-tracks{
  height: 3em;
}

.playlist_name{
  margin-top: 3%;
  margin-bottom: 5%;
}

.tracks_list{
  margin-left: 5%;
}

.playlist-tracks:hover {
  border: 5px solid #1DB954;
}
