.track {
  margin-bottom: 10px;
}

.playlist-tracks{
  height: 5em;
  margin-bottom: 10px;
  margin-right: 10px;
}

.playlist_name{
  margin-top: 3%;
  margin-bottom: 5%;
}

.tracks_list{
  margin-left: 5%;
}

.playlist-tracks:hover {
  border: 5px solid #1DB954;
}

h3.playlist_name{
  margin: 3%;
}
