#saved-tracks .saved_images{
  display: inline;
  width: 3em;
}

.saved_track_item{
  display: inline;
  padding-left: 10px;
}

.saved_track_artist{
  color: #DFDFDF;
  font-size: 12px;
}

.saved_tracks_header {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
}

.hidden {
  visibility: hidden;
}

.add_tracks_button{
  margin: 3%;
}

.custom-select{
  width: 50%;
}

.success_gif{
  width: 5em;
  display: block;
  margin-left: 47%;
  margin-top: 5%;
}

.create_playlist{
  padding: 7px;
  border-radius: 7px;
  border: none;
  margin-right: 3%;
}

.add_tracks_options{
  text-align: center;
}

#playlistName{
  width: 42%;
}

.add_tracks_options h5{
  margin-bottom: 3%;
}
